.pattern{
    background-image: url(../img/pattern.png);
    background-size: 30%;
    /* background-position: top; */
    background-color: #4ea0ff;
    width: 100%;
    /* text-align: left; */
    /* vertical-align: bottom; */
}

.logo{
    width: 15%;
    padding-left: 10px;
    padding-top: 50px;
}

.titolo-articolo {
    font-size: 50px;
    padding-top: 10px;
    margin: 0px
}

.info-articolo{
    margin: 0px;
    font-size: 20px;
    color: #888888;
}

.link{
    margin: 0px;
    text-decoration: none;
    color: #4ea0ff;
}

.paragrafo-articolo{
    margin: 0px;
    font-size: 15px;
    color: #888888;
    /* font-style: italic; */
    padding-bottom: 20px;
}

.immagini{
    width: 49%;
    max-width: 49%;
    height: min-content;
    max-height: 400px;
}

.didascalia{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

section{
    font-weight:600;
}

.evidenziatore{
    background-color: yellow;
}

.elenco-importante{
    margin-top: 0px;
    padding-left: 20px;
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 0px;
}

thead {
    background-color: blue;
    color: white;
}

th{
    width: 30%;
}

.dispari{
    background-color: lightblue;
}

.articoli-correlati1{
    width: 25%;
    min-height:200px ;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    text-align: center;
    color: white;
}

.articoli-correlati2{
    width: 25%;
    min-height:200px ;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    text-align: center;
    color: white;
}

main{
    margin-left: 5%;
    margin-right: 5%;
}